@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');
:root{
   --color_bg: #0C9AAC;
   --color_title:#747474;
   --color_link: #086673;
   --color_wrap:#282936;
   --fontF_Figtree: 'Figtree', sans-serif;
}
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
ul{
   padding: 0;
   margin: 0;
   list-style-type: none;
}
a{
   text-decoration: none;
}
.container{
   width: 1100px !important;
}

.text_table{
   font-family: var(--fontF_Figtree);
   font-weight: 800;
   font-size: 22px;
}
.search_input{
   width: 280px;
   padding-left: 30px;
   font-size: 16px;
   text-transform: capitalize;
   border: 2px solid #757575;
   border-radius: 8px;
   background-color: #FFFFFF;
}
.search_input::placeholder{
   color: #757575;
}
.input_title{
   display: flex;
   align-items: center;
   justify-content: flex-start;
   position: relative;
}
.ichon_search{
   position: absolute;
   left: 18px;
   top: 50%;
   transform: translateY(-50%);
   width: 22px;
   height: 22px;
}
.button_add{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;
}
#add-bitton, #delete-bitton{
   background-color: var(--color_bg);
   border-radius: 8px;
   display: flex;
   align-items: center;
   justify-content: center;
   column-gap: 5px;
   padding: 5px 12px;
   border: 2px solid transparent;
   color: #fff;
   font-family: var(--fontF_Figtree);
   font-weight: 500;
   transition: .3s;
}
.add_a{
   text-decoration: none !important;
   color: #fff ;
}
#delete-bitton{
   background-color: rgb(189, 28, 28);
}
#add-bitton:active{
   box-shadow:  0 0 10px  var(--color_bg), 0 0 20px var(--color_bg);
   transform: scale(1.01);
}
#delete-bitton:active{
   box-shadow:  0 0 10px  rgb(189, 28, 28), 0 0 20px rgb(189, 28, 28);
   transform: scale(1.01);
}
#add-bitton img, #delete-bitton i{
   width: 25px;   
   color: #fff;
}
tbody tr td .icon{
   width: 47px;
   height: 47px;
   margin-left: 20px;
}  
tbody tr td input{
   font-size: 20px;
   cursor: pointer;
   border: 2px solid #757575 !important;
   margin-left: 10px;
}
tbody tr .wrap{
   display: flex;
   display: flex;
   align-items: center;
}
tbody tr .wrap p{
   margin: 0;
   margin-left: 10px;
}

tbody tr .wrap p:nth-child(2){
   font-size: 14px;
   font-family: var(--fontF_Figtree);
   font-weight: 400;
}
tbody tr .wrap1 img{
   border-radius: 50%;
   width: 40px;
   height: 40px;
}
tbody tr .wrap1{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
tbody tr .wrap1 .row4_title{
   display: flex;
   align-items: center;
   column-gap: 20px;
   justify-content: center;
   height: 50px;
}
tbody tr .wrap1 .row4_title p:nth-child(2){
   font-size: 18px;
   font-family: var(--fontF_Figtree);
   font-weight: 400;
}
tbody tr .wrap1 .set_icon{
   width: 30px;
   height: 30px;
   cursor: pointer;
}
tbody tr .link{
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}
.table_content{
   border: 3px solid var(--color_bg) !important;
   border-radius: 10px;
   overflow: hidden;
   min-height: 500px;
}  
table thead th{
   background-color: #F5F5F5 !important;
   color: #747474 !important;
   font-size: 14px !important;
   font-weight: 500;
}

.cantrol_wrap{
   padding-right: 0;
}
.cantrol_wrap .pagination{
   display: flex;
   align-items: center;
   justify-content: center;
}
.length{
   font-size: 15px;
   color: var(--color_title);
}
.selaect{
   display: flex;
   align-items: center;
   justify-content: flex-end;
   column-gap: 10px;
}
.selaect span{
   font-size: 17px;
   font-family: var(--fontF_Figtree);
   font-weight: 500;
   color: var(--color_title);
   text-transform: capitalize;
}
.selaect select{
   background-color: transparent;
   color: var(--color_bg);
   font-size: 18px;
   padding: 5px 25px;
   border: none !important;
   outline: none;
   line-height: 30px;
}


/* add.php */
.container_add{
   background-color: rgba(3, 3, 117, 0.862);
   width: 100%;
   height: 100vh;
   display: none;
}
.active{
   display: block;
}
.text_add{
   padding-top: 50px;
   font-size: 25px;
   font-family: var(--fontF_Figtree);
   font-weight: 7000;
   text-transform: capitalize;
   color: #fff;
}
#forma_add{
   display: grid;
   grid-template-columns:  1fr 1fr;
   position: relative;
}
#forma_add label{
   font-family: var(--fontF_Figtree);
   font-weight: 500;
   text-transform: capitalize;
   color: #999;
   display: block;
   margin-top: 20px;
   font-size: 18px;
}
#forma_add input{
   border: 2px solid #fff;
   background-color: transparent;
   border-radius: 8px;
   padding: 5px 15px;
   width: 80%;
   color: #fff;
}
#forma_add input::placeholder{
   color: #999;
}
 input[type="file"]{
   display: none;
 }

 label[for="file"]{
   width: 80%;
   color: #fff;
   background-color: transparent;
   border: 2px solid #fff;
   padding: 5px 15px;
   text-transform: capitalize;
   border-radius: 10px;
   cursor: pointer;    
 }
 #forma_add #save{
   background-color: blue;
   width: 120px;
   border: 2px solid transparent;
   font-size: 18px;
   text-transform: capitalize;
   margin-top: 25px;
   position: absolute;
   bottom: -80px;
   right: 100px;
}
textarea{
   background-color: transparent;
   border: 2px solid #fff;
   padding: 5px 15px;
   color: #fff;
   width: 80%;
   height: 100px;
   border-radius: 8px;
}
/* :-moz-loading */

@keyframes ldio-d9g8amnky77 {
   0% { transform: rotate(0) }
   100% { transform: rotate(360deg) }
 }
 .ldio-d9g8amnky77 div { box-sizing: border-box!important }
 .ldio-d9g8amnky77 > div {
   position: absolute;
   width: 121.50000000000001px;
   height: 121.50000000000001px;
   top: 74.25px;
   left: 74.25px;
   border-radius: 50%;
   border: 2.7px solid #000;
   border-color: #8ed228 transparent #449d08 transparent;
   animation: ldio-d9g8amnky77 0.3623188405797102s linear infinite;
 }
 .ldio-d9g8amnky77 > div:nth-child(2) { border-color: transparent }
 .ldio-d9g8amnky77 > div:nth-child(2) div {
   position: absolute;
   width: 100%;
   height: 100%;
   transform: rotate(45deg);
 }
 .ldio-d9g8amnky77 > div:nth-child(2) div:before, .ldio-d9g8amnky77 > div:nth-child(2) div:after { 
   content: "";
   display: block;
   position: absolute;
   width: 2.7px;
   height: 2.7px;
   top: -2.7px;
   left: 56.7px;
   background: #d22d28;
   border-radius: 50%;
   box-shadow: 0 118.80000000000001px 0 0 #3cd228;
 }
 .ldio-d9g8amnky77 > div:nth-child(2) div:after { 
   left: -2.7px;
   top: 56.7px;
   box-shadow: 118.80000000000001px 0 0 0 #28d230;
 }
 .loadingio-spinner-dual-ring-v8gwnplrx2n {
   width: 100%;
   height: 100vh;
   background: black;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1000000;
}
.loading_active{
   animation: loading  4s  1;
   animation-fill-mode: forwards;
}
@keyframes  loading{
   0%{
      display: block;
      opacity: 1; 
   }
   100%{
      display: none;
      opacity: 0;
   }
}
 .ldio-d9g8amnky77 {   
   position: absolute;
   top: 25%;
   left: 40%;
   backface-visibility: hidden;  
   transform-origin: 0 0; /* see note above */
 }
 .ldio-d9g8amnky77 div { 
   box-sizing: content-box;
 }